

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Montserrat:ital,wght@0,100;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 70px;
    background-color: #d6d3d3;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
   justify-content: space-between;
}
.logo{
    width: 15%;
    height: 70px;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat',sans-serif;
    font-size: 30px;
}
.nav{
    width: 30%;
    height: 70px;
    /* background-color: blue; */
    
}
.nav-links{
    height: 70px;
    width: 100%;
    /* background-color: red; */
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family:'Montserrat', sans-serif ;
    font-size: 17px;
} 


/* banner css */


.banner{
    width: 100%;
    height: 700px;
    background-color:#d6d3d3;
    padding-left:10% ;
    padding-right: 10%;
    padding-top: 30px;
    display: flex;
    align-items:center ;
}


.details{
    width: 60%;
    padding: 20px;
    background-color:#d6d3d3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
   
}
.t1{
    font-family:'Montserrat', sans-serif ; 
    font-size: 60px;
    font-weight: 700;
}
.t2{
    font-family:'Montserrat', sans-serif ; 
    font-size: 70px;
    font-weight: 700;
    color:  #5b5bb0;
}
.desc{
    font-family: 20px;
}
.cta{
    padding: 16px 40px;
    font-size: 20px;
    margin-top: 35px;
    color: #fff;
    background-color: #5b5bb0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
   
}
.cta:hover{
    background-color: transparent;
    color: #fff;
    
}
.person{
    width:50%;
    background-color:#5b5bb0;
    border-radius: 20px;
    padding: 30px;
    
}
.person-img{
    height: 400px;
}  
/* services css */
.sevices-title{
    font-family: 'Montserrat', sans-serif ;
    font-size:50px 10%;
    width:100%;

}
.section-child{
    width: 100%;
    padding: 30px 0px;
    background-color:gold;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    column-gap: 4%;
}

.services{
    width:22%;
    /* background-color: yellow;
    display: flex;
    flex-direction: column; */
    align-items: start;
    padding: 20px;
    font-family:'Montserrat', sans-serif ;
    row-gap:15px ;
    box-shadow: 0 0 2px gray;
    border-radius: 10px
    
}
.service-text{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.icon{
    padding: 50px;
    font-size:70px;
    align-items: center;
}
.service-btn{
    padding: 10px 20px;
    background-color: #5b5bb0 ;
    color: #fff;
    border: none;
    border-radius: 15px;
}
/* Acheivements */


.acheivements{
padding: 30px 10%;
background-color: rebeccapurple ;
font-family:'Montserrat', sans-serif ;
}
.acheivement{
    width: 18%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: yellow;
    align-items: center;
    row-gap: 10px;

}
.acheivement-child{
    row-gap: 2.5%;
}
.number{
    font-size: 30px;
    font-weight: bold ;
}
.tag{
    font-size: 60px;

}